name: check-updates

on:
  schedule:
    - cron: '30 * * * *'
  workflow_dispatch:

jobs:
  check-updates:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Check for updates and commit changes
        run: ./update.sh
